.card-img-top{

    width: 200px;
    height: 200px;
}

/* .card{
    width: 300px;
    padding: 30px;

}
.col{

    padding: 5px;
    margin: 5px;
} */

.shopTitle {
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
}
.products {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.product {
  border-radius: 15px;
  width: 300px;
  height: 350px;
  margin: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product img {
  width: 400px;
}

.product .description {
  text-align: center;
}

.product:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

.addToCartBttn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}

.addToCartBttn:hover {
  background-color: rgb(77, 242, 181);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.deleteMe{
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
  margin-left: 5px;
}

.editMe{
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
  margin-left: 5px;
}

.deleteMe:hover {
  background-color: rgb(77, 242, 181);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

@media screen and (min-width: 1240px) {
  
    .card-img-top{

        width: 400px;
        height: 400px;
    }
  }
